.git
.idea
node_modules
vendor
assets/vendor
build
docker/mysql
docker/baikal
docker/openldap
config.php
storage/backups/*
storage/cache/*
storage/logs/*
storage/sessions/*
storage/uploads/*
!storage/*/index.html
!storage/*/.htaccess
*.zip
